body {
  text-align: center;
  background-color: beige;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  margin: 10px;
}

img {
  margin: 0 auto;
}
